#context-menu
{
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
}

#context-menu .item
{
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .visible
{
    display: block;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#context-menu .item:hover
{
    background: #343434;
}

#table
{
    /* Center the table */
    margin: 0 auto;
}